# Pliki tymczasowe
*~
*.swp
*.tmp

# Pliki konfiguracyjne
.DS_Store
.env

# Katalogi i pliki generowane przez narzędzia i zależności
/node_modules/
/dist/
/build/
build


# Logi i raporty błędów
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Pliki IDE i edytora
../.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Kompilowane pliki
*.min.js
*.min.css

# Inne
/backup/
/.sass-cache/
/*.bak/